/* Write your CSS here */

.bg-container {
  background-color: #07080c;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto;
  font-style: italic;
}

.speed-text {
  color: #ffffff;
  font-weight: 500;
  font-family: Roboto;
}

.speed-limit {
  color: #cbd5e1;
  font-weight: 400;
  font-family: Roboto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accelerate-btn {
  background-color: #0b69ff;
  color: #94a3b8;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 40px;
  padding: 10px;
  margin-right: 15px;
}

.brake-btn {
  background-color: transparent;
  color: #94a3b8;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 10px;
  border: 1px solid #94a3b8;
  cursor: pointer;
  outline: none;
  width: 150px;
  height: 40px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .image {
    height: 35vh;
    width: 35vw;
  }
  .heading {
    font-size: 20px;
  }
  .image {
    height: 45vh;
    width: 60vw;
  }
  .speed-text {
    font-size: 20px;
  }
  .speed-limit {
    font-size: 15px;
  }
  .accelerate-btn {
    font-size: 15px;
  }
  .brake-btn {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .image {
    height: 45vh;
    width: 60vw;
  }
  .speed-text {
    font-size: 35px;
  }
  .speed-limit {
    font-size: 25px;
  }
}
